

body{
    font-family: 'Questrial', sans-serif;
}

#banner{
    background-color: green;
    color: white;
    padding: 20px;
    }

#barra{
    color:black;
    background-color: rgb(199, 216, 216);
    
} 

#barra a:visited{
    color: black;
}

.article{
    border: 1px solid;
    padding: 10px;
    margin-top:5px;
}

.article a{
    color:black;
}

.article a:visited{
    color:black;
}

.listaok{

    font-size:60%;
    color: blue;
}

.footer{
    text-align: center;
}

.imagen{
    width:500px;
}

a:visited{
    color:black;
}